[run]
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # Omit the tests directory
    ./tests/*
    # omit conftest 
    ./conftest.py